.see-all-ph{
  margin-right: 10px;
}
.gallery-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #f9f9f9;
}
.gallery-header {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-all-btn {
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
