.time24{
    color: #898383;
  }
  .text-input{
    text-align: left;
    color: #7f7d7d;
  }
  .bi-dot{
    padding-top: 10px;
  }
  
  
  .content{
    background: #eeeeee;
  }
  .user-name1{
    color: black;
  }
  
    